/* место для вашего кода */
.header{
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    height: 293px;
    padding:92px  50px 96px 50px;
}
a{
    text-decoration: none;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    gap:33px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
.menu-items{
    list-style: none;
}
.menu-items_circle{
    list-style: circle;
    border-bottom: 1px black solid;
}
.header-logo{
    justify-self: center;
    width:136px;
    height: 106px;
}
.contacts{
    font-style:normal;
    max-width:240px;
    justify-self:end;
    font-size: 18px;
    margin-right: 35px;
    line-height: 24.3px;
}
.adres-border{
    border-bottom: 1px black solid;
}
.covers {
    display: grid;
    background-image: url('../images/cover.jpg');            
    position:relative;
    background-size: cover;
    background-position: center;
    padding-left:50px ;
    padding-right:50px ;
    padding-top:165px ;
    height: 757px;
    width: 1100px;
    
}
.cover-title{
    color:#fff;
    font-weight:400px;
    font-size: 100px;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 0.3em;
    position: relative;
    line-height: 115%;


}
.cover-span{
    display: block;
    display: flexbox;
    margin-bottom: 20px;
}
.text-center{
    text-align: center;
    margin-left: 0px;
}
.text-right{
    text-align: end;
    margin-left: 615px;
    
}
.overlay{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:0;
}
.description{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
    padding-bottom: 50px;
}
.subline{
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 0.85em;
    text-transform: uppercase;
    z-index: 1;
    font-weight: 400; 
    margin-bottom: 10px;
}
.bet-button{
    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-family:"Raleway",sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    z-index: 1;
    margin-right: 30px;
}



.lots-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: 182px;
    margin-left: 64px;

}
.section-card{
    margin-top: 180px;
    min-height:723px;
    
}
.li-card{
    display:flex;
    flex-direction: column;
    height: 596px;
    width: 334px;
    padding:48px 45px 48px 37px;
    margin-bottom: 32px; 
    position: relative;
    overflow: hidden;
}

.link-card{
    height: 100%;
}
.all-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 33px;
    margin-left: 25px;
}
.text-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    
}
.image-one{
    background-image: url('../images/card-lot-01.jpg');
    background-position: center center;
    background-size:cover;
    
}
.image-two{
    background-image: url('../images/card-lot-02.jpg');
    background-position: center center;
    background-size:cover;
}
.image-three{
    background-image: url('../images/card-lot-03.jpg');
    background-position: center center;
    background-size:cover;
}
.title-card{
    color:#fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    margin-bottom: auto;
    z-index: 1;
}
.description-card{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-top: auto;
    z-index: 1;  
}
.overlay-card{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:0;
}
.lots-view_more{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left:64px;
    text-decoration: none;
    border-bottom: 1px black solid;
}
.about{
    display: grid;
    grid-template-columns: 334px 693px ;
    column-gap:26px;
    margin: 120px 25px 180px 24px;
    width: 1052;
    height: 595;
}
.about-logo_image{
    width: 148px;
    height: 114px;
}
.background-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: black;
    width: 240px;
    height: 240px;
    margin-top: 35px;
    margin-left: 47px;

}
.about-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: 138px;
}
.about-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 100px;
    width:690px;
}
.about-description_bottom{
    margin-top:24px;
    height: 168px;
}

.footer{
    display:grid;
    grid-template-columns: repeat(3, 3fr);
    padding:2px 50px 82px 50px;
}
.contacts-footer{
    font-style:normal;
    max-width:240px;
    justify-self:end;
    font-size: 18px;
    line-height: 24.3px;
    margin-left:0px;
    margin-top:0;
    justify-self: start;
    
}
.menu-footer{
    display: flex; 
    justify-content: center; 
}
.menu-items{
    text-align: center;
    font-style:normal;
    font-size: 18px;
}
.menu-items_underline{
    border-bottom: 1px black solid;
}
.footer-link_icon{
    display: flex;
    justify-content: end;
    gap:48px;
}
.footer-link_img{
    width:48px;
    height:48px;
}
